<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Anna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div style="display: flex; justify-content: center;">
        <div style="text-align: left; margin-top: 30px;">
            <h1>Quay vào lại tài khoản Anna</h1>
            <h5>Tiếp theo hãy gửi tên người dùng đang gặp sự cố cho chúng tôi</h5>
            <div>Email</div>
            <div style="display: flex; align-items: center;">
                <div id="inputEmailForgot" style="margin: 10px 0 20px 0;">cellnguyen2003@gmail.com</div>
                <input id="editInputEmailForgot" style="margin: 10px 0 20px 0; display: none;" class="w-100"
                    value="cellnguyen2003@gmail.com" type="text">
                <i id="editEmailForgot" class="fa-solid fa-pen-to-square cs-p" style="margin: 0 0 10px 10px;"></i>
            </div>
            <div>Hãy nhập tên người dùng của bạn</div>
            <input style="width: 100%; margin-bottom: 20px;" type="text">
            <div>
                <button style="background-color: #ccc;" class="btn btn--size-s">Gửi liên kết đặt lại mật khẩu cho
                    tôi</button>
            </div>
            <div>
                <button id="btnBack" style="background-color: #9087ed;" class="btn btn--size-s mt-10">Quay lại ANNA</button>
            </div>
        </div>
    </div>

    <script>
        let editEmailForgot = document.querySelectorAll("#editEmailForgot")
        editEmailForgot.forEach(e => {
            e.addEventListener("click", function () {
                var editInputEmail = document.querySelector("#editInputEmailForgot");
                var inputEmailForgot = document.querySelector("#inputEmailForgot");
                if (editInputEmail.style.display === "none" || editInputEmail.style.display === "") {
                    editInputEmail.style.display = "block";
                    inputEmailForgot.style.display = "none";
                } else {
                    editInputEmail.style.display = "none";
                    inputEmailForgot.style.display = "block";
                }
            });
        })

        let btnBack = document.querySelectorAll("#btnBack")
        btnBack.forEach(e => {
        e.addEventListener("click", () => {
        location.href = './index.html'
            })
        })
    </script>
</body>

</html>